<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is the home page 1*2</h1>
    <h3><%= ["hello", "bonjour","namaste"] [1] %></h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quibusdam dolores voluptatum distinctio, recusandae dolorum laudantium itaque quas. Ea totam recusandae, voluptatem error impedit aliquam porro illo voluptates commodi rerum.
    Eius reprehenderit animi ipsa laborum, ut adipisci laudantium ab pariatur temporibus possimus, modi, voluptatem accusantium itaque blanditiis incidunt inventore. Eum, molestiae non? Molestias veritatis doloribus impedit ipsam expedita natus ducimus.
    Omnis et laborum aut cum architecto consequatur ab magni eum commodi nemo unde odit labore esse excepturi eos impedit explicabo iure, culpa quibusdam possimus cupiditate velit? Illum modi neque aspernatur

    <button>click me!</button>
    <button>click me!</button>

</p>
</body>
</html>